@import 'base';

.buttons{
  text-align: center;
  .btn{
    margin: 0 10px;
    display: inline-block;
    width: 200px;
    &:first-child{
      padding-left: 0;
    }
    &:last-child{
      padding-right: 0;
    }
    b{
      padding: 0 10px;
      font-size: 40px;
      vertical-align: middle;
    }
  }
}

.full-answer{
  text-align: center;
  span{
    font: 25px/30px $number-font;
    color: $main-text-color;
    font-weight: bold;
    margin: 5px 10px;
    display: inline-block;
    padding: 5px 15px;
  }
  input{
    padding: 5px;
    width: 100px;
    border-radius: 5px;
    font: 25px/30px $number-font;
    color: $main-text-color;
  }
}
.disabled{
  .btn{
    opacity: .5;
    &:hover{
      cursor: default;
      opacity: .5;
    }
  }
}