$main-text-color: #002350;
$scd-text-color: #5A0044;
$color-wrong: #8B0068;
$color-wrong-dark: #681A55;
$color-right: #87B300;
$color-right-dark: #587400;
$color-light: #c8cfac;


$title-font: Lobster-Regular, 'Times New Roman', serif;
$number-font: Kurale-Regular, 'Times New Roman', serif;
$base-font: Helvetica, Sans-serif;
