@import 'base';

.settings{
  font-weight: bold;
  padding: 0 10px;
  float: right;
  & > span:hover, .close:hover{
    opacity: .8;
    cursor: pointer;
  }
}
.close{
  position: absolute;
  top: 20px;
  right: 20px;

}
.fixed-full-page{
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  background: white;
  bottom: 0;
  overflow: scroll;
  padding: 10px;
  z-index: 1;
}
form {

  label{
    font: 20px $base-font;
    color: $main-text-color;
    + input{
      margin-left: 30px;
    }
  }

  input{
    margin: 0 10px;
    &[type=number], &[type=text]{
      padding: 5px;
      border-radius: 5px;
      &:invalid{
        border-color: red;
      }
    }
  }
  .row {
    input{
      &[type=text]{
        min-width: 60%;
      }
    }
    label{
      min-width: 60%;
      display: inline-block;
      margin: 10px 0;
    }
    &.center{
      label{
        min-width: 0;
      }
    }
  }

  & > .row{
    label{
      min-width: 20%;
    }
    input{
      min-width: 70%;
    }
  }
  fieldset {
    padding: 15px;
    margin: 15px 0;

    legend {
      padding: 0 10px;
      font: 30px $title-font;
      color: $scd-text-color;
      span{
        font-size: 25px;
      }
    }
  }
}

.error{
  color: red;
}

ul{
  list-style-type: none;
  font: 25px $title-font;
  color: $main-text-color;
  padding: 20px;
  ul{
    list-style-type: disc;
    font: 25px $number-font;
    color: $main-text-color;
    text-align: left;
  }
}