@import 'base';
@import 'timer';
@import 'training';
@import 'settings';
@import 'alert';

@font-face {
  font-family: "Lobster-Regular";
  src: url('src/assets/fonts/Lobster-Regular.ttf') format("opentype");
}

@font-face {
  font-family: "Kurale-Regular";
  src: url('src/assets/fonts/Kurale-Regular.ttf') format("opentype");
}

*{
  margin: 0;
  padding:0;
}
h1{
  padding:20px;
  font: 50px $title-font;
  text-align: center;
  color: $scd-text-color;
}
h2{
  padding: 50px 0;
  font: 60px $number-font;
  text-align: center;
  color: $main-text-color;
  font-weight: bold;
}

h3{
  padding: 20px 0;
  font: 40px $title-font;
  text-align: center;
  color: $scd-text-color;
  text-decoration: underline;
}

#app{
  min-height: 100vh;
}

.container{
  max-width: 800px;
  margin: 0 auto;
}

.training-container{
  position: relative;
  padding-top: 50px;
}

.main {
  a {
    display: block;
    margin: 20px 0;
    padding: 25px;
    border: 2px solid $color-right-dark;
    background: $color-light;
    font: 25px $title-font;
    color: $scd-text-color;

    span {
      &:first-letter {
        padding-right: 35px;
        font-size: 50px;
        line-height: 50px;
        font-weight: bold;
      }
    }

    &:hover {
      opacity: .9;
      cursor: pointer;

      span {
        font-weight: bold;
      }
    }
  }
}

.btn{
  display: block;
  max-width: 200px;
  margin: 0 auto;
  padding: 20px;
  background: $color-right;
  border: 2px solid $color-right-dark;
  font: 25px/30px $title-font;
  color: $scd-text-color;
  text-align: center;
  &:hover{
    opacity: .9;
    cursor: pointer;
  }
}
