@import 'answer';

.question{
  padding: 50px 0;
  h2 span{
    transition: all .5s linear;
    padding: 0 20px;
    &.state1{
      color: $color-right-dark;
      font-size: 40px;
    }
    &.state2{
      color: $color-wrong;
      text-decoration: line-through;
      font-size: 40px;
    }
  }
}
.training-container{
  aside{
    position: relative;
    & > span{
      display: inline-block;
      margin: 5px;
      &.last{
        margin-right: 55px;
      }
    }
  }
}