@import 'base';

.count-down{
  color: $main-text-color !important;
  border-radius: 200px;
  &.big{
    height: 200px;
    width: 200px;
    margin: calc(50% - 300px) auto 0;
    font: 100px/200px $number-font;
  }
  &.small{
    height: 50px;
    width: 50px;
    float: right;
    font: 25px/50px $number-font;
  }
}
