@import 'base';

.count-down{
  display: block;
  width: 200px;
  padding: 20px;
  background: $color-right;
  border: 2px solid $color-right-dark;
  color: $main-text-color;
  text-align: center;
  &.round{
    height: 200px;
    margin: calc(50% - 300px) auto 0;
    border-radius: 200px;
    font: 115px $number-font;
    line-height: 200px;

  }
  &.square{
    float: right;
    font: 25px $number-font;
  }
}
