@import 'base';

.count-down{
  position: absolute;
  color: $main-text-color !important;
  border-radius: 200px;
}
aside.big{
  .count-down{
    height: 200px;
    width: 200px;
    top: 100px;
    left: calc(50% - 100px);
    font: 100px/200px $number-font;
  }
}
aside.small{
  .count-down{
    height: 50px;
    width: 50px;
    top: -10px;
    right: 0;
    font: 25px/50px $number-font;
  }
}
